[submodule "browser-extension"]
	path = browser-extension
	url = https://github.com/Dimatic-Labs/codex-extension.git
[submodule "embed"]
	path = embed
	url = https://github.com/Dimatic-Labs/codex-embed.git
	branch = main
